body {
    background-image: url("../imgs/login.jpg");
    background-color: #FFC0CB; /* Rosa mais claro */
    background-size: cover;
  background-position: center;
  background-attachment: fixed;
    margin: 0;
    padding: 0;
}

/* h1 {
    color: #fff;
    text-align: center;
  } */

  form {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(240, 173, 183, 0.6); /* Ajuste a transparência aqui */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

label {
    color: #e93991;
    display: block;
    margin-top: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #FF69B4; /* Rosa mais escuro para o botão */
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #FF1493; /* Rosa mais escuro hover */
}

/* Estilo para o formulário de upload de imagem */
form[action="upload.php"] {
    margin-top: 20px;
}



